html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  padding-top: .5em;
  padding-bottom: 0;
  margin: 0;
}

.robot {
  width: 320px;
  position: relative;
  margin-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
}

.robot-body {
  width: 320px;
  display: block;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 5px;
  left: 8.5em;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  top: -2.4em;
  right: 2.25em;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  top: -2.4em;
  left: 2.25em;
}

.robot:hover .robot-head-right {
  right: .25em;
}

.robot:hover .robot-head-left {
  left: .25em;
}
